<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="Facebook.Facebook.listeners"/>
</listeners>
  <test thread-count="3" name="Test">
    <classes>
        
      <class name="Facebook.Facebook.FB_Login_page"/>
      <class name="Facebook.Facebook.Home_Page_Navigation"/>
      <class name="Facebook.Facebook.Friends_List"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
